
<div id='footer' class='relative' ng-controller='FooterController'>
  <div class='tractor wow bounceInLeft animate' data-wow-duration='1.5s' data-wow-delay='2s'>
    <img src='images/shared/tractor.png' />
  </div>
  <div class='call-before-you-dig wow bounceInUp animate' data-wow-duration='1.5s' data-wow-delay='3.5s'>
    <img src='images/shared/call_flag.png' />
  </div>
  <div class='man-with-shovel'>
    <img src='images/shared/man-with-shovel.png' />
  </div>
  <div class='pair-of-workers'>
    <img src='images/shared/pair-of-workers.png' />
  </div>
  <div class='container'>
    <div class='row footer-content'>
      <div class='col-lg-12 col-md-12'>
        <div class='row'>
          <div class='col-lg-3 col-md-3 hidden-sm hidden-xs'>
            <h4>Manage your account</h4>
            <ul class='footer-general-list'>
              <li>
                <a ng-href='' title='Ways to Pay'>Ways to Pay</a>
              </li>
              <li>
                <a ng-href='' title=''>Signup for AutoPay</a>
              </li>
              <li>
                <a ng-href='' title=''>Go Paperless</a>
              </li>
              <li>
                <a ng-href='' title=''>Start, Stop, Move Service</a>
              </li>
              <li>
                <a ng-href='' title='Save Energy and Money'>Save Energy and Money</a>
              </li>
              <li>
                <a ng-href='' title='Outage Map'>Outage Map</a>
              </li>
              <li>
                <a ng-href='' title='FAQs'>FAQs</a>
              </li>
            </ul>
          </div>
          <div class='col-lg-3 col-md-3 hidden-sm hidden-xs'>
            <h4>Residential Services</h4>
            <ul class='footer-general-list'>
              <li>
                <a ng-href='' title='Paying Your Bill'>Paying Your Bill</a>
              </li>
              <li>
                <a ng-href='' title='Residential Rebates'>Residential Rebates</a>
              </li>
              <li>
                <a ng-href='' title=''>Safety Resources</a>
              </li>
              <li>
                <a ng-href='' title='Contractor Referrals'>Contractor Referrals</a>
              </li>
              <li>
                <a ng-href='' title='Natural Gas Products'>Natural Gas Products</a>
              </li>
              <li>
                <a ng-href='' title=''>Landlord Services</a>
              </li>
            </ul>
          </div>
          <div class='col-lg-3 col-md-3 hidden-sm hidden-xs'>
            <h4>Business Services</h4>
            <ul class='footer-general-list'>
              <li>
                <a ng-href='' title='Paying Your Bill'>Paying Your Bill</a>
              </li>
              <li>
                <a ng-href='' title=''>Industrial Services</a>
              </li>
              <li>
                <a ng-href='' title=''>Commercial Services</a>
              </li>
              <li>
                <a ng-href='' title='Commercial Rebates'>Commercial Rebates</a>
              </li>
              <li>
                <a ng-href='' title='Builders &amp; Developers'>Builders &amp; Developers</a>
              </li>
              <li>
                <a ng-href='' title='Energy Calculators'>Energy Calculators</a>
              </li>
              <li>
                <a ng-href='' title='Rates &amp; Regulations'>Rates &amp; Regulations</a>
              </li>
            </ul>
          </div>
          <div class='hidden-lg hidden-md col-sm-6 col-xs-6'>
            <ul class='footer-general-list'>
              <li>
                <a ng-href='' title='About Southwest Gas'>About Southwest Gas</a>
              </li>
              <li>
                <a ng-href='' title='Contact Us'>Contact Us</a>
              </li>
              <li>
                <a ng-href='' title='Employment'>Employment</a>
              </li>
              <li>
                <a ng-href='' title='Investor Relations'>Investor Relations</a>
              </li>
              <li>
                <a ng-href='' title='Privacy Policy'>Privacy Policy</a>
              </li>
              <li>
                <a ng-href='' title='Southwest Gas Consulting'>Site Map</a>
              </li>
            </ul>
            <ul class='footer-mobile-copyright'>
              <p class='footer-gray-text'>&copy;{{ copyrightYear }} Southwest Gas Corporation. All rights reserved.</p>
            </ul>
          </div>
          <div class='col-lg-3 col-md-3 col-sm-6 col-xs-6'>
            <ul class='footer-mobile-logo hidden-lg hidden-md'>
              <li>
                <img src='images/shared/logo_footer.png' alt='Southwest Gas' />
              </li>
            </ul>
            <h4 class='footer-logo-container hidden-sm hidden-xs'>
              <img src='images/shared/logo_footer.png' alt='Southwest Gas' />
            </h4>
            <ul class='footer-contact'>
              <li>Customer Service</li>
              <li>(877) 860-6020</li>
              <li>Monday-Friday 8am-6pm</li>
            </ul>
            <ul class='footer-social clearfix'>
              <li>
                <a ng-href='' title='Facebook'>
                  <img src='images/shared/facebook_footer.png' alt='Facebook' />
                </a>
              </li>
              <li>
                <a ng-href='' title='Twitter'>
                  <img src='images/shared/twitter_footer.png' alt='Twitter' />
                </a>
              </li>
              <li>
                <a ng-href='' title='LinkedIn'>
                  <img src='images/shared/linkedin_footer.png' alt='LinkedIn' />
                </a>
              </li>
            </ul>
            <ul class='footer-suspect-gas-leak'>
              <li>
                Suspect a natural gas leak? Call 911 and Southwest Gas immediately at (877) 860-6020
              </li>
            </ul>
          </div>
        </div>
      </div>  
    </div>
    <div class='row footer-content-bottom hidden-sm- hidden-xs'>
      <div class='col-lg-12 col-md-12'>
        <hr />
      </div>
    </div>
    <div class='row footer-content-bottom hidden-sm hidden-xs'>
      <div class='col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2'>
        <ul class='final-contact-links clearfix'>
          <li>
            <a ng-href='' title='About Southwest Gas'>About Southwest Gas</a>
          </li>
          <li>|</li>
          <li>
            <a ng-href='' title='Contact Us'>Contact Us</a>
          </li>
          <li>|</li>
          <li>
            <a ng-href='' title='Employment'>Employment</a>
          </li>
          <li>|</li>
          <li>
            <a ng-href='' title='Investor Relations'>Investor Relations</a>
          </li>
          <li>|</li>
          <li>
            <a ng-href='' title='Privacy Policy'>Privacy Policy</a>
          </li>
          <li>|</li>
          <li>
            <a ng-href='' title='Site Map'>Site Map</a>
          </li>
        </ul>
      </div>
    </div>
    <div class='row footer-content-bottom footer-copyright hidden-sm hidden-xs'>
      <div class='col-lg-12 col-md-12'>
        <p class='centered'>&copy;{{ copyrightYear }} Southwest Gas Corporation. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
