
<div id='heating-hero'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <h1 class='white-text ar'>Heating</h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
        <p class='white-text'>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</div>

<div id='heating-breadcrumbs' class='gray-bg padded-module'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <p>
          <a ng-href='#/' title='Home' class='green-text'>
            Home
          </a>
          <i class='glyphicon glyphicon-chevron-right glyphicon-chevron-small'></i>
          <a ng-href='#/residential' title='Residential' class='green-text'>
            Residential
          </a>
          <i class='glyphicon glyphicon-chevron-right glyphicon-chevron-small'></i>
          <a ng-href='#/' title='Natural gas Products' class='green-text'>
            Natural gas Products
          </a>
          <i class='glyphicon glyphicon-chevron-right glyphicon-chevron-small'></i>
          Heating
        </p>
      </div>
    </div>
  </div>
</div>

<div id='heating-title-text' class='gray-bg padded-module-top'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-7 col-md-7 col-sm-12 col-xs-12'>
        <h2 class='ar'>A natural gas heating system is the heart of your home.</h2>
      </div>
    </div>
  </div>
</div>

<div id='heating-content' class='gray-bg padded-module'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-7 col-md-7 col-sm-12 col-xs-12'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h2 class='black-text uppercase small-header'>Warmth and Comfort</h2>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p>
              You can depend on it to keep you warm and comfortable inside, 
              regardless of the temperature outside. Natural gas furnaces deliver 
              warm air without the cool draftiness often associated with the air 
              delivered with electric heat pumps. Gas-heated air is about 110 to 
              130 degrees, which is warmer than your body temperature, so you 
              feel comfortable. Besides providing warmth and comfort, using 
              natural gas to heat your home can also save you energy and 
              reduce your carbon footprint.
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h2 class='black-text uppercase small-header'>Energy and Money Savings</h2>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='spaced'>
              If you have a 15-year-old or older central forced-air furnace, you can 
              save on your heating costs by replacing it with a new, energy-efficient model. 
              New, energy-efficient gas heating systems are up to 98% efficient, 
              and the ENERGY STAR® logo will help you identify energy-efficient heating equipment.
            </p>
            <p class='spaced'>
              While some ENERGY STAR® qualified heating products may cost more initially, 
              they can generate 15-30% lower energy bills.
            </p>
            <p class='spaced'>
              The reasons to choose natural gas have always gone beyond performance. 
              Natural gas heating assures you of comfort that's affordable and reliable. 
              It's preferred by homeowners who want to help save energy, reduce emissions, 
              and protect the environment.
            </p>
          </div>
        </div>
        <div class='row white-bg padding-top-10'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h2 class='orange-text small-header uppercase'>WHY USE NATURAL GAS HEATING?</h2>
          </div>
        </div>
        <div class='row white-bg padding-bottom-20'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <ul class='green-dotted list-spaced'>
              <li>
                Technological advances have unlocked enough natural gas in the U.S. to fuel our nation for generations.
              </li>
              <li>
                Using natural gas reduces the nation’s dependence on foreign oil and creates jobs in the U.S.
              </li>
              <li>
                Natural gas is produced, transported and sold in America by American companies. The natural gas industry supports more than 2.8 million jobs in the U.S.
              </li>
              <li>
                Unlike other energy sources, 85% of all the natural gas consumed domestically is produced in the U.S.
              </li>
            </ul>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h2 class='black-text small-header uppercase'>TYPES OF HEATING EQUIPMENT</h2>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='spaced'>
              Natural gas heating systems come in a variety of sizes and prices. 
              Here are three of the most common types of natural gas heating systems:
            </p>
            <p class='pnsb'>Forced-Air Furnaces</p>
            <p>
              There are two basic types of forced-air furnaces: packaged systems which 
              contain the heating and cooling components in one unit, and split systems 
              in which the heating and cooling units are separate.
            </p>
            <p class='pnsb'>Packaged Systems</p>
            <p>
              Typically mounted on the roof of your home, a packaged system 
              (often referred to as a gas pack, twin, dual, or combination system) 
              includes natural gas heating and electric cooling components in one unit.
            </p>
            <p class='pnsb'>Split Systems</p>
            <p>
              If you have a heating unit which is separate from your cooling unit, 
              then your home is equipped with a split system. The furnace is usually 
              located in your garage, attic, or an interior closet and the cooling 
              unit is located outdoors, often on the ground.
            </p>
          </div>
        </div>
      </div>
      <div class='col-lg-5 col-md-5 col-sm-12 col-xs-12'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <div static-popover='Savings Tips'></div>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-3 col-md-3 col-sm-3 col-xs-3'>
            <img src='images/shared/circle_pig_brown.png' />
          </div>
          <div class='col-lg-9 col-md-9 col-sm-9 col-xs-9'>
            <h4 class='small-header black-text uppercase'>Home Water Heating</h4>
            <p class='spaced'>
              Cut annual heating bills by as much as 10 percent per year by 
              turning your thermostat back 10 percent to 15 percent for eight 
              hours per day.
            </p>
            <p class='spaced'>
              Kitchens are particularly vulnerable to excessive warming, 
              especially from the extra heat generated by cooking.
            </p>
            <p class='spaced'>
              <a class='green-text'>
                See more home savings tips 
                <i class='glyphicon glyphicon-chevron-right glyphicon-chevron-small'></i>
              </a>
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <div static-popover='Explore'></div>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-3 col-md-3 col-sm-3 col-xs-3'>
            <img src='images/shared/circle_pig_brown.png' />
          </div>
          <div class='col-lg-9 col-md-9 col-sm-9 col-xs-9'>
            <h4 class='small-header black-text uppercase'>MORE NATURAL GAS PRODUCTS</h4>
            <ul>
              <li>
                <a ng-href='' class='green-text' title='Water Heating'>Water Heating</a>
              </li>
              <li>
                <a ng-href='' class='green-text' title='Cooking'>Cooking</a>
              </li>
              <li>
                <a ng-href='' class='green-text' title='Gas Dryers'>Gas Dryers</a>
              </li>
              <li>
                <a ng-href='' class='green-text' title='Outdoor Appliances'>Outdoor Appliances</a>
              </li>
              <li>
                <a ng-href='' class='green-text' title='Natural Gas Fireplaces'>Natural Gas Fireplaces</a>
              </li>
              <li>
                <a ng-href='' class='green-text' title='Natural Gas Vehicles'>Natural Gas Vehicles</a>
              </li>
              <li>
                <a ng-href='' class='green-text' title='Solar Heating Panels'>Solar Heating Panels</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='heating-gas-furnaces' class='white-bg padded-module'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-7 col-md-7 col-sm-12 col-xs-12'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <div static-popover='High Efficiency Natural Gas Furnaces'></div>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h1 class='ar'>
              Natural gas–<br />
              less expensive than oil, propane, and electric
            </h1>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='spaced'>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Aenean euismod bibendum laoreet. Proin gravida dolor sit amet 
              lacus accumsan et viverra justo commodo. Proin gravida dolor 
              sit amet lacus accumsan et viverra justo commodo.
              Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='spaced'>
              <a class='green-text'>
                Lorem ipsum dolor sit amet 
                <i class='glyphicon glyphicon-chevron-right glyphicon-chevron-small'></i>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class='col-lg-5 col-md-5 col-sm-12 col-xs-12'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h4 class='uppercase small-header orange-text'>Natural Gas Furnace</h4>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <div class='video-preview-block natural-gas-furnace-video-bg'>
              <div class='video-play-btn'>
                <a ng-href='' title='Play Video'>
                  <img src='images/shared/play_btn.png' alt='Play Video'>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='spaced'>
              Learn more about gas furnaces. [2:39]
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='spaced inline-block'>
              <a ng-href='' title='Visit Go paperless video' class='green-text'>
                <i class='icon-video icon-video-bg-left'></i>
                Learn more about gas furnaces
                <i class='glyphicon glyphicon-chevron-right glyphicon-chevron-small'></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='heating-footer' class='gray-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 white-bg bg-shadowed third-boxes'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h4 class='orange-text uppercase small-header'>HOMEOWNER’S GUIDE TO HEATING &amp; COOLING</h4>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <img src='images/residential/tmp_istock.png' alt='Special Assistance Programs' />
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p>
              Lorem ipsum dolor sit amet, conse ur adipiscing elit. 
              Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus In Espñol.
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 third-boxes-links'>
            <p>  
              <a ng-href='' title='Homeowner’s guide to heating &amp; cooling' class='green-text pnsb'>
                Homeowner’s guide to heating &amp; cooling 
                <i class='glyphicon glyphicon-chevron-right glyphicon-chevron-medium'></i>
              </a>
              <br />
              <a ng-href='' title='The heating brochure' class='green-text pnsb'>
                The heating brochure 
                <i class='glyphicon glyphicon-chevron-right glyphicon-chevron-medium'></i>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 white-bg bg-shadowed third-boxes'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h4 class='orange-text uppercase small-header'>CURRENT REBATES &amp; SPECIAL OFFERS FOR HEATING</h4>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <img src='images/residential/tmp_istock.png' alt='Special Assistance Programs' />
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p>
              Lorem ipsum dolor sit amet, conse ur adipiscing elit. 
              Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus In Espñol.
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 third-boxes-links'>
            <p>
              <a ng-href='' title='Locate an appliance dealer and contractor' class='green-text pnsb'>
                Lorem ipsum dolor sit amet  
                <i class='glyphicon glyphicon-chevron-right glyphicon-chevron-medium'></i>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 white-bg bg-shadowed third-boxes'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h4 class='orange-text uppercase small-header'>Save Money and Energy</h4>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <img src='images/residential/tmp_istock.png' alt='Special Assistance Programs' />
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p>
              Lorem ipsum dolor sit amet, conse ur adipiscing elit. 
              Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus In Espñol.
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 third-boxes-links'>
            <p>
              <a ng-href='' title='Rebates &amp; Promotion' class='green-text pnsb'>
                Rebates &amp; Promotions 
                <i class='glyphicon glyphicon-chevron-right glyphicon-chevron-medium'></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
