
<div id='history-hero' class='module-padded relative'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <h1 class='ar white-text wow animate fadeIn'>Your gas company then...<br />and now</h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
        <p class='white-text wow animate fadeIn'>
          Southwest Gas provides natural gas service to more than 1.8 million 
          customers every year. This growth, while impressive, took time to 
          achieve. Over 80 years of rich history has made us who we are today. 
          As you will see, we couldn't have done it without you… <br />our valued customers.
        </p>
      </div>
    </div>
  </div>
</div>

<div id='history-handshake' class='container-overlay-parent'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar'>Amidst a Great Depression, a new  fuel company is born.</h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='spaced'>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
              eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco 
              laboris nisi ut aliquip ex ea commodo Excepteur sint occaecat 
              cupidatat non proident, sunt in culpa qui officia deserunt mollit 
              anim id est laborum. Sed ut perspiciatis unde omnis iste natus 
              error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae 
              vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
              aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos 
              qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui 
              dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed 
              quia non numquam eius modi tempora incidunt ut labore et dolore magnam 
              aliquam quaerat voluptatem.
            </p>
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <img src='images/history/handshake.png' alt='Shaking Hands' />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='timeline-overlay'>
    <img src='images/history/car.png' alt='Car' />
  </div>
  <div class='timeline-spacial-overlay'>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-left wow fadeInLeft animated'>
        <p>1931</p>
      </div>
    </div>
  </div>
</div>

<div id='history-a-tale-of-two-desert-communities' class='container-overlay-parent'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar white-text'>A tale of two high desert communities</h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='spaced white-text'> 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
              do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor. in 
              reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
              officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='timeline-overlay'>
    <img src='images/history/car_men.png' alt='Car' />
  </div>
  <div class='timeline-spacial-overlay'>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-right wow fadeInRight animated'>
        <p>1951</p>
      </div>
    </div>
  </div>
</div>

<div id='history-publicly-owned' class='container-overlay-parent gray-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-right'>Southwest Gas Corporation became a publicly owned company</h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='spaced'>
              on January 24, 1956, with the sale of 44,208 shares of common stock to the public
            </p>
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 right-margin-top'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-left'>Southwest Gas acquires Natural Gas Service of Arizona</h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='spaced text-left'>
              serving Pinal and Greenlee Counties. Nevada Southern Gas merges into Southwest Gas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='timeline-overlay'>
    <img src='images/history/groundbreaking.png' alt='Groundbreaking' />
  </div>
  <div class='timeline-spacial-overlay'>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-left wow fadeInLeft animated'>
        <p>1956</p>
      </div>
    </div>
  </div>
  <div class='timeline-spacial-overlay timeline-spacial-overlay-alt'>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-right wow fadeInRight animated'>
        <p>1957</p>
      </div>
    </div>
  </div>
</div>

<div id='history-welcome-to-nevada' class='container-overlay-parent'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar white-text text-left'>Hello, Las Vegas.</h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='spaced white-text left-text'> 
              Our corporate headquarters moves from Los Angeles, CA to Las Vegas, NV
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='timeline-spacial-overlay'>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-right wow fadeInRight animated'>
        <p>1958</p>
      </div>
    </div>
  </div>
</div>

<div id='history-expansion' class='container-overlay-parent light-gray-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding-left'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding-left'>
            <img src='images/history/chef.png' alt='Chef' />
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 right-margin-top'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-left'> class='ar text-left'>Assets of Big Bear Lake Gas Company acquired</h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-left'>Expansion into Northern Nevada and Reno</h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='text-left'>
              The completion of the 250-mile pipeline allowed Southwest Gas to expand 
              into northern Nevada, bringing natural gas service to Carson City and 
              South Lake Tahoe. Gas service to Reno commenced January 17
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-left'> class='ar text-left'>
              Transmission pipelines to Elko and the South Shore of Lake Tahoe were completed
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='timeline-spacial-overlay timeline-spacial-overlay-alt-1'>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-right wow fadeInRight animated'>
        <p>1959</p>
      </div>
    </div>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-right wow fadeInRight animated'>
        <p>1963</p>
      </div>
    </div>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-right wow fadeInRight animated'>
        <p>1965</p>
      </div>
    </div>
  </div>
</div>

<div id='history-pipeline' class='container-overlay-parent'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-right white-text'>Transmission pipeline to North Shore of Lake Tahoe</h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='spaced white-text text-right'>
              Transmission pipeline to the North Shore of Lake Tahoe was completed. 
              It was extended the following year along the California shore 
              south to Tahoma
            </p>
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'></div>
    </div>
  </div>
  <div class='timeline-overlay'>
    <img src='images/history/car_2.png' alt='Car' />
  </div>
  <div class='timeline-spacial-overlay'>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-left wow fadeInLeft animated'>
        <p>1967</p>
      </div>
    </div>
  </div>
</div>

<div id='history-technology' class='container-overlay-parent light-gray-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-right swg'>SWG rings the Bell on the NYSE</h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='text-right'>
              July 19, Southwest's common stock was sold on the New York Stock Exchange 
              for the first time. Southwest Gas purchases the natural gas assets of 
              Tucson Gas &amp; Electric, nearly doubling the company's customer 
              count overnight
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='text-right room'>
              Southwest Gas became the first natural gas company to offer common stock 
              to its customers through a customer stock purchase plan. More than 3,400 
              customers became shareholders in the first four months of the program
            </p>
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-left company'>
              The company moved into a new general headquarters on 
              Spring Mountain Road in Las Vegas
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='timeline-overlay'>
    <img src='images/history/woman_computer.png' alt='Car' />
  </div>
  <div class='timeline-spacial-overlay'>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-left wow fadeInLeft animated'>
        <p>1979</p>
      </div>
    </div>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-left wow fadeInLeft animated'>
        <p>1981</p>
      </div>
    </div>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-right wow fadeInRight animated'>
        <p>1974</p>
      </div>
    </div>
  </div>
</div>

<div id='history-plant' class='container-overlay-parent'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-right white-text'>Harold G. Laub LNG Plant completed in Lovelock, NV</h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='spaced white-text text-right'>
              The plant is the largest single construction project in the company's history. 
              The plant continues to provide peaking capacity for the company's northern 
              Nevada system.
            </p>
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'></div>
    </div>
  </div>
  <div class='timeline-spacial-overlay'>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-left wow fadeInLeft animated'>
        <p>1982</p>
      </div>
    </div>
  </div>
</div>

<div id='history-arizona' class='container-overlay-parent light-gray-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='text-right black-text spaced left-drop'>
              Paiute Pipeline Company was formed to own and operate the northern 
              Nevada transmission facilities regulated by the Federal Energy 
              Regulatory Commission (FERC). The creation of Paiute was prompted 
              by FERC policy initiatives to convert interstate pipelines from 
              gas sellers to gas transporters
            </p>
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-left'>
              Howdy, Arizona!
            </h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='text-left'>
              Southwest Gas acquires the natural gas properties of Arizona 
              Public Service, again nearly doubling the customer count
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='text-left right-drop'>
              Paiute commenced operations on August 1, 1988
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-left'> class='ar text-left'>
              The company acquired CP National's gas operations in Henderson 
              and Green Valley, Nevada, and Needles, California
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='timeline-overlay'>
    <img src='images/history/man.png' alt='Man' />
  </div>
  <div class='timeline-spacial-overlay'>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-left wow fadeInLeft animated'>
        <p>1984</p>
      </div>
    </div>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-right wow fadeInRight animated'>
        <p>1987</p>
      </div>
    </div>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-right wow fadeInRight animated'>
        <p>1988</p>
      </div>
    </div>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-right wow fadeInRight animated'>
        <p>1991</p>
      </div>
    </div>
  </div>
</div>

<div id='history-silver-springs' class='container-overlay-parent'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'></div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'></div>
    </div>
  </div>
  <div class='timeline-overlay'>
    <img src='images/history/machinery.png' alt='Machinery' />
  </div>
  <div class='timeline-spacial-overlay'>
    <div class='relative'>
    </div>
  </div>
</div>

<div id='history-greater-expansion' class='container-overlay-parent light-gray-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-left'> class='ar text-right left-drop'>
              100,000 customers
            </h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='text-right black-text'>
              In late October, the Southern California Division celebrated its 
              100,000th customer. The company is one of the largest businesses 
              in the high desert employing nearly 170 people and adding nearly 
              $9 million a year to the local economy through its payroll. In 
              addition, Southwest pays $1.8 million in state and local taxes, 
              and spends nearly $9 million a year on new pipe and equipment to 
              meet the demands for future growth.
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-left'> class='ar text-right left-drop-2'>
              We're 75!
            </h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='text-right black-text'>
              Southwest Gas celebrates its 75th anniversary and initiates 
              electronic meter reading conversion project to increase 
              accuracy and efficiency
            </p>
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-left'> class='text-left right-drop'>
              Expansion into Truckee, CA
            </h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='text-left'>
              The company reached a milestone of serving one million customers. 
              A multi-year construction project was initiated to expand the company's 
              northern California service territory into Truckee, California, and 
              portions of Eldorado and Placer Counties
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='text-left right-drop-2'>
              In March, Southwest Gas celebrated its 70th anniversary. It now serves 
              nearly 1.4 million customers in Arizona, California and Nevada, and has 
              approximately 2,500 employees.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='timeline-overlay'>
    <img src='images/history/thanks_a_million.png' alt='Thanks a Million' />
  </div>
  <div class='timeline-spacial-overlay'>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-left wow fadeInLeft animated'>
        <p>1999</p>
      </div>
    </div>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-left wow fadeInLeft animated'>
        <p>2006</p>
      </div>
    </div>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-right wow fadeInRight animated'>
        <p>1995</p>
      </div>
    </div>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-right wow fadeInRight animated'>
        <p>2001</p>
      </div>
    </div>
  </div>
</div>

<div id='history-eighteen-million' class='container-overlay-parent'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar white-text text-left'>Southwest Gas surpasses 1.8 million customers.</h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='white-text left-text'> 
              Approximately 80 percent of customer meters now being read electronically
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='timeline-overlay'>
    <img src='images/history/man_meter.png' alt='Meter' />
  </div>
  <div class='timeline-spacial-overlay'>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-right wow fadeInRight animated'>
        <p>2007</p>
      </div>
    </div>
  </div>
</div>

<div id='history-recent' class='container-overlay-parent gray-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h3 class='ar text-left'> class='ar text-right left-drop'>
              Electronic meter reading conversion project completed one year ahead of schedule
            </h3>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='text-right black-text'>
              Southwest Gas celebrates its 80th anniversary
            </p>
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <p class='text-left'>
              Southwest Gas remains strong despite nation's economic downturn. 
              Ends year with 1,824,000 residential, commercial, 
              industrial and other natural gas customers
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='timeline-spacial-overlay'>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-left wow fadeInLeft animated'>
        <p>2008</p>
      </div>
    </div>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-left wow fadeInLeft animated'>
        <p>2011</p>
      </div>
    </div>
    <div class='relative'>
      <div class='history-year-dot wow pulse animate'>
        <img src='images/history/orange_dot.png' alt='Orange Dot' />
      </div>
      <div class='history-year-right wow fadeInRight animated'>
        <p>2009</p>
      </div>
    </div>
  </div>
</div>
