
<div class='container padded-module'>
  <div class='row'>
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <h4 class='orange-text small-header uppercase'>Self Service Options</h4>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <h1 class='ar hidden-sm hidden-xs'>
        I would like to 
        <span class='btn btn-default btn-alt btn-ar faux-btn'>find the nearest payment kiosk <span class='glyphicon glyphicon-chevron-down glyphicon-chevron-medium glyphicon-chevron-up-3'></span></span>
      </h1>
      <h2 class='ar ar hidden-lg hidden-md padding-top-10 padding-bottom-10 inline-block'>
        I would like to 
        <span class='btn btn-default btn-alt btn-ar faux-btn'>find the nearest payment kiosk <span class='glyphicon glyphicon-chevron-down glyphicon-chevron-medium glyphicon-chevron-up-3'></span></span>
      </h2>
    </div>
  </div>
</div>
