
<div class='carousel-with-content'>
  <div class='row'>
    <div class='col-lg-12 col-md-12'>
      <carousel interval='10000' hm-swipe-left='prev();' hm-swipe-right='next();'>
        <slide>
          <div class='carousel-image-container'>
            <img ng-src='images/home/hero_rotating_01.png' />
          </div>
          <div class='carousel-content-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-lg-12 col-md-12'>
                  <div class='row'>
                    <div class='col-lg-12 col-md-12 centered'>
                      <h1 class='h1-line-1'>Warm up with Natural Gas</h1>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-lg-12 col-md-12 centered'>
                      <h1 class='h1-line-2'>Safe. Reliable. Affordable.</h1>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-lg-12 col-md-12 centered'>
                      <button type='button' class='btn btn-default btn-lg btn-shadow' ng-click='next();'>
                        Learn Why
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide>
          <div class='carousel-image-container'>
            <img ng-src='images/home/hero_rotating_02.png' />
          </div>
          <div class='carousel-content-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-lg-12 col-md-12'>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide>
          <div class='carousel-image-container'>
            <img ng-src='images/home/hero_rotating_03.png' />
          </div>
          <div class='carousel-content-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-lg-12 col-md-12'>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide>
          <div class='carousel-image-container'>
            <img ng-src='images/home/hero_rotating_04.png' />
          </div>
          <div class='carousel-content-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-lg-12 col-md-12'>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide>
          <div class='carousel-image-container'>
            <img ng-src='images/home/hero_rotating_05.png' />
          </div>
          <div class='carousel-content-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-lg-12 col-md-12'>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide>
          <div class='carousel-image-container'>
            <img ng-src='images/home/hero_rotating_06.png' />
          </div>
          <div class='carousel-content-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-lg-12 col-md-12'>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide>
          <div class='carousel-image-container'>
            <img ng-src='images/home/hero_rotating_07.png' />
          </div>
          <div class='carousel-content-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-lg-12 col-md-12'>
                </div>
              </div>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
  <div class='hidden-sm hidden-xs carousel-overlay-ctas'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12 col-md-12'>
          <div class='row'>
            <div class='col-lg-4 col-md-4'>
              <button type='button' class='btn btn-default btn-alt btn-header-clock'>
                Start, Stop or Move Services
              </button>
            </div>
            <div class='col-lg-4 col-md-4'>
              <button type='button' class='btn btn-default btn-alt btn-header-pay'>
                View &amp; Pay Your Bill
              </button>
            </div>
            <div class='col-lg-4 col-md-4'>
              <button type='button' class='btn btn-default btn-alt btn-header-services'>
                Save Energy &amp; Money
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='carousel-with-content carousel-no-images hidden-md hidden-lg'>
  <div class='row'>
    <div class='col-lg-12 col-md-12'>
      <carousel interval='10000' hm-swipe-left='prev();' hm-swipe-right='next();'>
        <slide>
          <div class='carousel-content-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-lg-12 col-md-12'>
                  <div class='row'>
                    <div class='col-lg-12 col-md-12 centered padding-top-10'>
                      <h4 class='orange-text small-header uppercase'>Warm up with Natural Gas</h4>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-lg-12 col-md-12 centered'>
                      <h3 class='ar'>Safe. Reliable. Affordable.</h3>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-lg-12 col-md-12 centered padding-top-10'>
                      <button type='button' class='btn btn-default btn-primary btn-lg' ng-click=''>
                        Learn Why
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide>
          <div class='carousel-content-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-lg-12 col-md-12'>
                  <div class='row'>
                    <div class='col-lg-12 col-md-12 centered padding-top-10'>
                      <h4 class='orange-text small-header uppercase'>Warm up with Natural Gas</h4>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-lg-12 col-md-12 centered'>
                      <h3 class='ar'>Safe. Reliable. Affordable.</h3>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-lg-12 col-md-12 centered padding-top-10'>
                      <button type='button' class='btn btn-default btn-primary btn-lg' ng-click=''>
                        Learn Why
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide>
          <div class='carousel-content-container'>
            <div class='container'>
              <div class='row'>
                <div class='col-lg-12 col-md-12'>
                  <div class='row'>
                    <div class='col-lg-12 col-md-12 centered padding-top-10'>
                      <h4 class='orange-text small-header uppercase'>Warm up with Natural Gas</h4>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-lg-12 col-md-12 centered'>
                      <h3 class='ar'>Safe. Reliable. Affordable.</h3>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-lg-12 col-md-12 centered padding-top-10'>
                      <button type='button' class='btn btn-default btn-primary btn-lg' ng-click=''>
                        Learn Why
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>

<div class='container hidden-md hidden-lg ctas-mobile'>
  <div class='row'>
    <div class='col-sm-12 col-xs-12'>
      <button type='button' class='btn btn-default btn-alt btn-header-clock'>
        Start, Stop or Move Services
      </button>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12 col-xs-12'>
      <button type='button' class='btn btn-default btn-alt btn-header-pay'>
        View &amp; Pay Your Bill
      </button>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12 col-xs-12'>
      <button type='button' class='btn btn-default btn-alt btn-header-services'>
        Start, Stop or Move Services
      </button>
    </div>
  </div>
</div>

<div class='padded-module yellow-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12'>
            <h4 class='small-header orange-text uppercase'>Safety Begins With You</h1>
            <h2 class='ar'>Do you smell gas?</h2>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-3 col-md-3 col-sm-4 col-xs-4 phone-icon-text'>
            <h2 class='uppercase small-header black-text'>Call 911</h2>
          </div>
          <div class='col-lg-9 col-md-9 col-sm-8 col-xs-8 phone-icon-text'>
            <h2 class='uppercase small-header black-text'>
              Call Southwest Gas at <a href='tel://1877-860-6020' title='Call Southwest Gas'>1-877-860-6020</a>
            </h2>
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-6 black-border-left hidden-sm hidden-xs'>
        <div class='row'>
          <div class='col-lg-12 col-md-12'>
            <h4 class='small-header orange-text uppercase'>News &amp; Events</h4>
            <h4 class='ar padding-top-10'>Energy and Water Efficiency for Small &amp; Medium Sized Businesses</h4>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12'>
            <p class=''>November 4, 2014 • 9am-12pm</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='container hidden-md hidden-lg news-mobile-only'>
  <div class='row'>
    <div class='col-sm-12 col-xs-12'>
      <div static-popover='News &amp; Events'></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12 col-xs-12'>
      <h1>Energy and Water Efficiency for Small &amp; Medium Sized Businesses</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12 col-xs-12'>
      <p>November 4, 2014 • 9am-12pm</p>
    </div>
  </div>
</div>

<div class='gray-bg padded-module'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-md-6'>
        <div class='row'>
          <div class='col-lg-12 col-md-12'>
            <div static-popover='Save Energy &amp; Money'></div>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12'>
            <h1 class='ar hidden-sm hidden-xs'>Why natural gas?</h1>
            <h2 class='ar hidden-lg hidden-md padding-top-10 padding-bottom-10 inline-block'>Why natural gas?</h2>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12'>
            <p>A versatile energy source, natural gas is a clean and affordable solution for performing a variety of tasks in the home or office. 
            Everything from cooking, heating your residence or business and more can be done through the reliablility of natural gas. 
            The simple solution for over 8 decades and counting.</p>
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12'>
            <p>
              <a class='green-text' href='' title='Why natural gas'>
                Why natural gas <i class='glyphicon glyphicon-chevron-right'></i>
              </a>
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12'>
            <h2 class='black-text small-header centered uppercase inline-block header-pad-top-and-bottom'>Learn More:</h2>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
            <button type='button' class='btn btn-default btn-alt btn-dollar-savings'>
              Get Rebates
            </button>
          </div>
          <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
            <button type='button' class='btn btn-default btn-alt btn-dollar-tips-sheet'>
              Get Tips for saving<br />on your gas bills
            </button>
          </div>
        </div>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h2 class='centered orange-text small-header uppercase header-pad-top-and-bottom-mobile centered-mobile inherit'>Savings in the Laundry Room:</h2>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h2 class='centered ai ai-small inherit'>How many loads of laundry do you wash each week?</h2>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 centered'>
            <div class='savings-widget'>
              <div class='row'>
                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 centered'>
                  <!-- slider here! -->
                </div>
              </div>
              <div class='row'>
                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 centered'>
                  <!-- circle gauge/wheel/slider here! -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='container pos-relative padded-module'>
  <div class='row'>
    <div class='col-lg-12 col-md-12'>
      <div class='row'>
        <div class='col-lg-6 col-md-6'>  
          <div class='row'>
            <div class='col-lg-12 col-md-12'>
              <div static-popover='Safety Recommendations'></div>
            </div>
          </div>
          <div class='row'>
            <div class='col-lg-12 col-md-12'>
              <h2 class='hidden-sm hidden-xs ar font-28'>Learn how to keep your family safe.</h1>
              <h2 class='hidden-lg ar'>At Southwest Gas, your safety is our priority.</h1>
            </div>
          </div>
          <div class='row'>
            <div class='col-lg-12 col-md-12'>
              <div class='row'>
                <div class='col-lg-7 col-md-7 col-sm-12 col-xs-12'>
                  <div class='video-preview-block safety-video-block'>
                    <div class='video-play-btn'>
                      <a ng-href='' title='Play Video'>
                        <img src='images/shared/play_btn.png' alt='Play Vide' />
                      </a>
                    </div>
                  </div>
                </div>
                <div class='col-lg-5 col-md-5 col-sm-12 col-xs-12 margin-bottom-20'>
                  <p>By knowing how to recognize, react to, and prevent unsafe conditions you’ll be doing your part to keep yourself and your loved ones safe.</p>
                  <p>
                    <a ng-href='' title='View our safety video' class='green-text'>
                      View our safety video <i class='glyphicon glyphicon-chevron-right glyphicon-chevron-small'></i>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
          <div class='can-you-dig'>
            <div class='row'>
              <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <h2 class='centered orange-text small-header uppercase'>Can You Dig?</h2>
              </div>
            </div>
            <div class='row'>
              <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <p class='centered'>Planning a home improvement job? Planting a tree? Installing a fence or deck this fall? Remember to check out our digging safety tips.</p>
              </div>
            </div>
            <div class='row'>
              <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <p class='centered'>
                  <a ng-href='' class='black-text'>
                    Learn more <i class='glyphicon glyphicon-chevron-right glyphicon-chevron-small'></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='carousel-with-content'>
  <div class='row'>
    <div class='col-lg-12 col-md-12'>
      <carousel interval='10000'>
        <slide ng-repeat='slide in community_slides' active='slide.active'>
          <img ng-src='{{ slide.image }}'>
        </slide>
      </carousel>
    </div>
  </div>
  <div ng-include src="'templates/home-community-content.html'" class='hidden-sm hidden-xs'></div>
  <div ng-include src="'templates/home-self-service-options.html'" class='hidden-sm hidden-xs'></div>
</div>

<div ng-include src="'templates/home-community-content.html'" class='hidden-lg hidden-md padded-module'></div>
<div ng-include src="'templates/home-self-service-options.html'" class='hidden-lg hidden-md'></div>
