
<div class='hero-container'>
  <div class='hero-image-container'>
    <div class='row'>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <img src='images/safety/hero.png' class='hero-image' />
      </div>
    </div>
  </div>
  <div class='hero-overlay'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
          <h1 class='ar black-text'>
            Template Hero Header Text
          </h1>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
          <p class='black-text'>
            Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='module-padded relative gray-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <h1 class='ar black-text padding-top-20 padding-bottom-20'>Example Padded Module (Gray Background)</h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
        <p class='black-text code-block spaced'>
          Here is some black text. The header has a class <code>padding-top-20</code> 
          and <code>padding-bottom-20</code> to give it some spacing. The whole row has 
          a class named <code>gray-bg</code> which gives the full row with a maximum 
          width of 1500px a standard gray background color. There is also a paragraph <code>p</code>
          class named <code>spaced</code> which gives it extra room also.
        </p>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
        <p class='black-text code-block spaced'>
          The paragraphs <code>p</code> also are using a class named <code>spaced</code> 
          which gives them extra room.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
        <p class='black-text code-block spaced'>
          The following is a button. Each button has an additional class which signifies it's left-side green image.
          This particular one uses <code>btn-header-clock</code>
        </p>
        <p class='spaced code-block'>
          <button type='button' class='btn btn-default btn-alt btn-header-clock'>
            Start, Stop or Move Services
          </button>
        </p>
      </div>
      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
        <p class='black-text code-block spaced'>
          Here is the button markup:
        </p>
        <code>
          &lt;button type='button' class='btn btn-default btn-alt btn-header-clock'&gt;
          <br> Start, Stop or Move Services
          <br>&lt;/button&gt;
        </code>
      </div>
    </div>
  </div>
</div>

<div class='module-padded relative white-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <h1 class='ar black-text padding-top-20 padding-bottom-20'>Example Padded Module (White Background)</h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
        <p class='black-text spaced padding-bottom-20'>
          This is a white module with padding.
        </p>
      </div>
    </div>
  </div>
</div>

<div class='module-padded relative gray-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <h1 class='ar black-text padding-top-20 padding-bottom-20'>Example Padded Module (Gray Background)</h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
        <p class='black-text spaced padding-bottom-20'>
          This is the final module / content block.
        </p>
      </div>
    </div>
  </div>
</div>
